.footer {
    height: 132px;
    padding: 24px 72px;
    box-sizing: border-box;
    background-color: #202024;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    gap: 12px;
}
.footer[data-mobileMode="true"] {
    padding: 36px;
    height: auto;
    text-align: center;
}

.github-link {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

[data-mobileMode="true"] .github-link {
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.text-link-green {
    color: rgb(87, 255, 205);
    cursor: pointer;
}
.text-link-green:hover {
    color: rgb(87, 255, 205);
}